body {
	background: url("https://cdn.pixabay.com/photo/2019/01/02/19/29/background-3909535_960_720.jpg");  
	color: fff;
	
	font-family: 'Open Sans';
}
h3 {
	text-align: center;
	color: #f06933;
}
h2 {
	font-family: 'Kaushan Script';
	/* font-family: 'indie flower'; */
	color: rgba(30, 87, 209, 0.836);
}
.fa-plus {
	float: right;
}
.container {
	width: 400px;
	margin: 100px auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

li {
	font-family: 'indie flower';
	height: 50px;
	line-height: 50px;
	color: rgb(249, 253, 5);
}

li:nth-child(2n) {
	font-family: 'indie flower';
	background: rgba(123,123,123,0.5);
}

.left {
	background: #e74c3c;
	height: 50px;
	text-align: center;
	color: white;
	display: inline-block;
	width: 0; 
	opacity: 0;
	transition: 0.2s linear;
}

.right {
	background: #e74c3c;
	height: 50px;
	text-align: center;
	color: white;
	display: inline-block;
	width: 0; 
	opacity: 0;
	transition: 0.2s linear;
	position: absolute;
	right: 0px;
}

li:hover span{
	width: 35px;
	opacity: 1;
}

.taskinput {
	width: 100%;
	font-size: 18px;
	padding: 10px 10px 10px 15px;
	outline: none;
	/*box-sizing: border-box; <-- This isn't really required for our code*/
}

.editinput {
	height: 100%;
	width: 100%;
	outline: none;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	/* font-family: 'Dancing Script'; */
	font-family: Comic Sans MS;
	color: rgb(241, 72, 72);
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgb(243, 72, 72);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: rgb(245, 70, 70);
  }


/* input:focus { */
	/*border: 1px solid black;*/
	/*Coz it's not really required though.*/
/* }   */
.completed {
	text-decoration: line-through;
	color: gray;
}

.blockquote {
    padding: 60px 80px 40px;
    position: relative;
	background-color: rgb(236, 14, 14);
}
.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
	background-color: rgb(162, 0, 255);
}

/*blockquote p::before {
    content: "\f095"; 
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
  font-size: 180px;
 }*/

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  
  content:"\f10d";
  font-size: 200px;
  color: rgb(100, 10, 202);
   
}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #f30d3f;
    height: 3px;
    width: 200px;
}
